<div class="homepage">
  <app-header (pokemonsFound)="setFoundPokemons($event)"></app-header>
  <div class="main-screen">
    <div class="contents">
      <app-sidebar (genChange)="updateIndices($event)" class="sidebar"></app-sidebar>
      <app-pokelist class="pokelist" [start]="start" [end]="end" [foundPokemons]="foundPokemons"></app-pokelist>
    </div>
    <app-footer></app-footer>  
  </div>
</div>

<!-- <div class="home">
  <div class="header">Header</div>
  <div class="sidebar">Sidebar</div>
  <div class="main">Main</div>  
  <div class="right">Right</div>
  <div class="footer">Footer</div>
</div> -->