.acc-btn {
    background: inherit;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
    border: 1px solid coral;
    padding: 8px 12px;
    margin-bottom: 8px
}
.expanded {
    /* display: none; */
    max-height: 300px;
    overflow: hidden;
    animation: animate-in .4s ease-in-out;
}
.acc-btn.active {
    background: #ED3739;
    color: white;
}

@keyframes animate-in {
    from {display: block; max-height: 0px; }
    to {display: block; max-height: 300px; }
}

/* @keyframes animate-out {
    from {max-height: 300px; }
    to {max-height: 0px; }
    
} */